
h1 {
    margin: 16px auto;
}
h1 small {
    display: block;
    opacity: 0.5;
    font-size: 50%;
}

.picture-panel {
    margin: 0 auto;
    text-align: center;
    width: 480px;
    height: 480px;
    display: table;
}

@media screen and (max-width: 575px) {
    .picture-panel {
        width: 320px;
        height: 320px;
    }
}

@media screen and (max-width: 400px) {
    .picture-panel {
        width: 280px;
        height: 280px;
    }
}

.picture-panel-inner {
    display: table-cell;
    vertical-align: middle;
}

.picture-panel img {
}

footer {
    margin-top: 30px;
}
